.App{
  
}

body{
    margin: 0;
    padding: 0;
    background-image: url('../assets/background.png');
    background-size: 100% 100%;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
}

