.App{
  
}

body{
    margin: 0;
    padding: 0;
    background-image: url('../assets/background.png');
    background-size: 100% 100%;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
}


.hotel-card-container{
    
        width: 900px;
        /*padding: 20px;*/
        /*border: 1px solid black;*/
        margin-right: 200px;
        margin-top: 50px;
        box-sizing: border-box;
        background-color: white;
        display: flex;
        align-items: center;
}

.hotel-card-container img {
    flex: 1; /* Let the image grow to fill the available space */
    height: auto; /* Maintain the aspect ratio */
}


.hotel-card-container .hotel {
    flex: 2; 
    color: navy; 
    padding-left: 50px;
    
}
