
.hotel-sorter-container {
    position: fixed;
    top: 15%;
    left: 100px; 
    transform: translateY(-50%);
  }
  
  .sort-option {
    margin-bottom: 3px; 
    cursor: pointer;
    padding: 5px; 
    border: 1px solid #ccc; 
    
    width: 250px;
    background-color: white;
  }
  
  .sort-option:hover {
    background-color: #007bff;
  }
  